@import "/src/scss/fonts/fonts.scss";

body{
    background-color: #343539;
    color: #fff;
    margin: 2% 50% 10% 10%
}
.header-article{
    width: 680px;
    height: 68px;
    font-family: Helvetica;
    font-size: 56px;
    margin: 10px 0 20px 0;
}
.red{
    background-color: #EF483E;
    border-radius: 50%;
    width: 24px;
    height: 22px;
    padding-top: 5px;
    text-align: center;
    font-size:16px;
    font-family: Helvetica;
}
.routes-head,.transport-head,.cargo-head,.time-head{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    margin: 0 0 0 8px;
}
.routes-header,.transport-header,.cargo-header,.time-header{
    display: flex;
}
.transport-header{
    margin: 40px 0 0 0;
}
.input-title{
    margin: 7px 0 0 0;
}
.input-title,.trasport-title,.cargo-title,.cargo-checkbox-text,.time-radio-title,.comment-title{
    font-size: 13px;
    font-family: Helvetica;
}
.routes-from__input,.routes-where__input{
    width: 728px;
    height: 44px;
    margin: 7px 0 10px 0;
}
.trasport-weight-block{
    display: flex;
    justify-content:baseline;
    margin: 16px 0 0 0;
}
.transport__select{
    width: 172px;
    height: 44px;
    margin: 8px 12px 0 0;
}
.cargo-block{
    margin: 70px 0 0 0;
}
.cargo-container{
    margin: 16px 0 0 0 ;
}
.cargo-container__flex{
    display: flex;
}
.cargo__select{
    width: 356px;
    height: 44px;
    margin: 8px 0 16px 0;
}

.danger-class{
    width: 172px;
    height: 44px;
}
.cargo__input{
    width:172px;
    height: 38px;
    margin: 8px 0 16px 0;
}
.cargo-container__checkbox{
    display: flex;
}
.cargo__checkbox{
    background-color: #343539;
    border-color: #fff;
    width: 24px;
    height: 24px;
}
.cargo-checkbox-text{
 margin: 10px 0 0 10px;
}
.cargo-price{
    margin: 0 0 0;
}
.time-block{
    margin: 44px 0 0 0;
}
.time__button {
    width: 728px;
    height: 44px;
    background-color:rgba(75, 75, 79, 1);
    color: rgba(207, 207, 207, 1);
    text-align: left;
    margin: 0 0 3px 0 ;

}
.time-radio-title{
    margin: 16px 0 5px 0 ;
}
.comment-block{
    margin: 16px 0 0 0 ;
}
.comment-title{
    margin:0 0 8px 0;
}
.comment__textarea{
    width: 728px;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
    font-family: Helvetica;
    font-size: 15px;
}